<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Upload images of inventory item</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1017821938995-209lnrd94pm4gk3t448tto78465ioafl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1017821938995-209lnrd94pm4gk3t448tto78465ioafl.apps.googleusercontent.com</string>
</dict>
</plist>
